{{ define "_item" }}
	<div class="item" id="i{{.URLID}}" data-lat="{{.Lat}}" data-long="{{.Long}}" data-color="{{.Color}}" data-icon="{{.Icon}}">
		<div class="score">
			<a href="#" data-p="{{.URLID}}" data-pt="i" data-v="1" class="vote upvote {{if .Upvoted}}voted{{end}}">&#9650;</a>
			<span class="overall" data-suv="{{.SessionUserVote}}">{{.Score}}</span>
			<a href="#" data-p="{{.URLID}}" data-pt="i" data-v="-1" class="vote downvote {{if .Downvoted}}voted{{end}}">&#9660;</a>
		</div>
		<div class="details">
			<a class="title" href="/share/{{.URLID}}/{{.URLTitle}}">{{.Title}}</a>
			<span class="attribution">(<span class="upv">{{.Upvotes}}</span>|<span class="downv">{{.Downvotes}}</span>) submitted by <a href="/user/{{.Owner.Username}}">{{.Owner.Username}}</a><span>
			<span class="tools">{{ .CommentCount }} comments</span>
		    </div>
		</div>
	</div>
{{ end }}
