{{ define "header" }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TrypUp: travel, democratized</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/trypup.css">
        <link rel="stylesheet" href="/css/leaflet.css">
	<link rel="stylesheet" href="/css/MarkerCluster.Default.css">
	<link rel="stylesheet" href="/css/MarkerCluster.css">
	<link rel="stylesheet" href="/css/leaflet.awesome-markers.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/js/vendor/leaflet.js"></script>
	<script src="/js/vendor/leaflet.markercluster.js"></script>
	<script src="/js/vendor/leaflet.awesome-markers.js"></script>
    </head>
    <body>
	<header>
		<h1><a href="/">TrypUp</a>: travel, democratized</h1>
		{{ if .LoggedIn }}
			{{ with .User }}
				<div class="UserTools">
					<a href="/user/{{.Username}}">{{ .Username }}</a>
				</div>
			{{ end }}
		{{ end }}
	</header>

	{{ range .Session.Flashes }}
		{{ template "_flash" . }}
	{{ end }}

{{ end }}
